NODE_ENV=production
HOSTNAME=192.168.100.212
PORT=3000
NEXT_TELEMETRY_DISABLED=1

# API privee cible
INTERNAL_API_URL=http://192.168.100.213:5000
ALLOW_LOCAL_INTERNAL_API_URL=false

# Interservice
SERVICE_AUTH_TOKEN=<INJECTER_LOCALEMENT>

# Cookies / URLs publiques
SESSION_COOKIE_NAME=kermaria_session
SESSION_COOKIE_SECURE=true
SESSION_COOKIE_SAME_SITE=lax
PUBLIC_PORTAL_URL=https://dashboard.zacharyhounsa.ovh
WEBPORTAL_BASE_URL=https://dashboard.zacharyhounsa.ovh

# Paiement
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=CHANGE_ME
PAYPAL_CLIENT_SECRET=CHANGE_ME
STRIPE_PUBLISHABLE_KEY=CHANGE_ME

# Contact / protections web
HCAPTCHA_SITE_KEY=CHANGE_ME
BILLING_IBAN=CHANGE_ME
BILLING_BIC=CHANGE_ME
BILLING_TRANSFER_LABEL=CHANGE_ME
